$dark-blue: #222222;
$blue:  rgb(113, 174, 235);
$dark-pink: #F16D7F;
$pink: #F1E4E6;
$brown: #474040;
$grey:  #F8F8F8;
$dark-grey: #5D5D5D;
$black: #222224;
$red: rgb(212, 40,40);
$white: #f1f1f1;
$cristal-white: #ffffff;
$light-grey: #6F6E6E;
$grey-light: #B1B1B1;
$silver: #E1E1E1;
$light-silver:  rgba(122,122,122,0.5);
  
$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;
    