.cart {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
    }

    .cart__photo{
        min-width: 50%;
        height: auto;
    }

    .cart__product {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin: 0 0 40px;

        .cart__product-check {
            display: flex; 
            box-shadow: 0.4em 0.4em 5px $light-silver;
        
            .cart__name {
                display: flex;
                flex-direction: column; 
                    
                .cart__title {
                    @include font(24px, 29px);
                    margin-bottom: 41px;
                    margin: 22px 0 0 31px;
                    text-transform: uppercase;
                    position: relative;

                    @include mobile{
                         @include font(16px, 19px);
                    }

                    .cart__title-sub{
                        display: block;
                        margin-bottom: 42px;
                    }
                }

                .cart__details {
                    @include font(22px, 26px);
                    color: $dark-grey;
                    margin: 0 0 6px 31px;

                    @include mobile{
                        @include font(14px, 17px);
                    }

                    .cart__details--price {
                    color: $dark-pink;
                    margin: 0;
                    }
                }
            }
        } 
    }
    
    .cart__buttons {
        display: flex;
        justify-content: space-between;
            
        .cart__button {
            @include font(14px, 17px);
            color: $black;
            margin: 72px 0 128px;
            padding: 16px 30px;
            background-color: $cristal-white;
            text-transform: uppercase;
            cursor: pointer;
        }

        .cart__button-text {
            text-decoration: none;
            color: $black;

            @include mobile{
                @include font(12px, 14px);
            }
        }
    }

    .cart__wrapper-product {
        width: 58%;
        margin: 96px 0 40px; 

        @include tablet {
            width: 100%;
            margin: 56px 0 60px;
        }
    }
    .cart__wrapper-form {
        width: 42%;
        padding: 0 0 0 128px;

        @include tablet {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 125px;
        }
        
        @include mobile{
            flex-direction: column;
        }

        .cart__form {
            display: flex;
            flex-direction: column;
            margin:113px 0 177px;

            @include tablet{
                margin: 0 auto;
                width: 47%;
            }

            @include mobile{
                width: 100%;
            }

            .cart__form-adress {
                display: block;
                margin-bottom: 22px;
                width: 100%;
                min-height: 45px;
                border: 1px solid $grey-light;

                @include mobile{
                    width: 100%;
                }
            }

            .cart__form-title {
                @include font(16px, 19px);
                text-transform: uppercase;
                margin-bottom: 22px;
            }

            .cart__form-button {
                @include font(11px, 13px);
                width: 100px;
                height: 34px;
                color: $grey-light;
                border: 1px solid $grey-light;
                background-color: none;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .cart__checkout {
            min-height: 214px;
            background-color: $silver;
            display: flex;
            flex-direction: column;
            margin-bottom: 57px;

            @include tablet{
                width: 47%;
            }

            @include mobile {
                margin: 48px 0 96px;
                width: 100%;
            }

            .cart__check {
                display: flex;
                justify-content: flex-end;

                .cart__checkout-sub {
                    display: inline-flex;
                    justify-content: flex-end;
                    @include font(11px, 13px);
                    text-transform: uppercase;
                    margin: 39px 34px 0;
                }

                .cart__checkout-grand {
                    @include font(16px, 19px);
                    text-transform: uppercase;
                    margin: 12px 34px 40px;
                }
            }
            .cart__checkout-but {
                @include flex-center();
                    
                .cart__checkout-button {
                    @include font(16px, 19px);
                    height: 50px;
                    color: $white;
                    background: $dark-pink;
                    text-transform: uppercase;
                    cursor: pointer;
                    border: 1px solid $black;
                    transition: border-radius 1s, background-color 1s;

                    &:hover {
                        border-radius: 30px;
                        background-color: $grey-light;
                        border: none;
                    }
                }

            }
        }
    }
}



