.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 129px;
    border: 1px solid #EAEAEA;
    background-color: $cristal-white;
    margin: -65px auto 130px;
    z-index: 1;

    &__collection {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $dark-pink;
        text-transform: uppercase;
        margin: 64px 0 27px;
        position: relative;
    }

    &__collection::before {
        content: '';
        width: 63px;
        height: 3px;
        background: none;
        position: absolute;
        top: 30px;
        left: 40px;
        background-image: url(/img/decor-collection.svg);
    }

    &__info {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 0 0 48px;
    }

    &__content {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0 0 32px;
        max-width: 555px;
    }

    &__price {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $dark-pink;
        margin: 0 0 65px;
    }

    .hr-line {
        width: 641px;
        height: 1px;
        border: none;
        background-color: #EAEAEA;
        align-self: center;
        margin: 0 0 65px;
    }

    &__choose {
        display: flex;
    

        &-item {
            font-size: 14px;
            line-height: 17px;
            margin: 0 0 49px;
            text-transform: uppercase;
            margin-right: 42px;
            position: relative;
        
            &::before {
                content: '';
                width: 10px;
                height: 5px;
                background: none;
                position: absolute;
                right: -16px;
                top: 5px;
                background-image: url(/img/choose.svg);
            }
        }
    } 

    &__button {
        @include flex-center();
        border: 1px solid $dark-pink;
        background-color: $cristal-white;
        width: 211px;
        height: 47px;
        margin: 0 auto 64px;
        position: relative;
        padding: 12px 14px;
        text-decoration: none;
        text-align: center;
        color:$dark-pink;
        @include font(16px, 19px);

        @include tablet {
            margin: 0 auto 79px;
        }

        &::before {
            content: '';
            width: 27px;
            height: 25px;
            background-image: url(/img/card-product.svg);
            position: absolute;
            left: 13px;
            top: 9px;
        }

        &:hover {
        box-shadow: 0 0 10px 0 $dark-pink;
        }
    }
}   

.product__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
        margin: 0 0 130px;
    }
}

.product__cards-item {
    width: 31%;
    min-height: auto;

    @include tablet {
       width: 48%;
    }

    .product__cards-img {
        width: 100%;
        height: auto;
    }

    &-item--none {
        margin-bottom: 30px;
        background-color: $grey;
        
        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    } 
}
